/*:root {
  color-scheme: light dark;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}*/

:root {
  --primary-dark: #272727;
  --paragraph-gray: #272727;
  --primary: #f9be4a;
  --primary-light: whitesmoke;
  --yellow: #f9be4a;
  --white: whitesmoke;
  --gray: #e9e9e9;
  --black: #272727;
  --light-gray: #f9f9fa;
  --dark-gray-50: #27272780;
  --green: #7fbf80;
  --semi-green: #7fbf8080;
  --blue: #2797c4;
  --semi-blue: #2797c480;
  --semi-yellow: #f9be4a80;
  --dark-gray: #afafaf;


}